{{ define "content" }}
<div id="app" class="container">
  <div class="header">
    <h1 class="display-4">ฝึกอบรม</h1>
    <p class="lead">
      สอนโดยทีมงานผู้เชี่ยวชาญ พร้อมที่จะแบ่งปันจากประสบการณ์จริง<br>
      โปรโมชัน ! ผู้ที่อบรมหลักสูตร Rocks Cluster Administration จะได้รับสิทธิ์ส่วนลดอบรมหลักสูตร Lustre File System ทันที 3,000 บาท
    </p>
  </div>
  {{ partial "training-courses/loading" }}
  <div class="row">
    <div v-cloak v-for="v in subjects" class="col-md-6 px-md-5 mb-5">
      <h2 class="display-6">
        <a :href="v.detailUrl" class="text-dark">
          ${v.nameEn}
        </a>
      </h2>
      <div class="h2-line"></div>
      <div class="markdown">
        <ul class="list-unstyled">
          <li>จำนวน: ${v.defaultDuration} ชั่วโมง (${v.totalDates} วัน)</li>
          <li>
            ราคา: ${v.defaultPrice.toLocaleString()} บาท (รวมภาษีมูลค่าเพิ่มแล้ว)
          </li>
          {{ partial "training-courses/register-events" }}
        </ul>
      </div>
      <a :href="v.detailUrl" class="btn btn-outline-primary btn-sm">
        ดูรายละเอียดเพิ่มเติม
      </a>
    </div>
  </div>
</div>
<div class="learn-more mt-5">
  <div class="container">
    <h3>เราเป็นผู้เชี่ยวชาญทางด้าน HPC ด้วยประสบการณ์กว่า 10 ปี</h3>
    <a
      class="btn btn-secondary btn-lg px-5 mt-3"
      href="{{ `/success-stories/` | relURL }}"
      role="button"
    >
      เยี่ยมชมผลงานของเรา
    </a>
  </div>
</div>
{{ partial "register/site-register" . }}
{{ end }}
{{ define "javascript" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{{ partial "register/script" . }}
<script>
  var app = new Vue({
    el: "#app",
    delimiters: ["${", "}"],
    data: {
      loading: false,
      subjects: []
    },
    mounted() {
      this.loading = true;
      axios.get("{{ .Site.Params.apiURL }}/api/public/subjects").then(res => {
        this.loading = false;
        this.subjects = res.data.data;
      });
    }
  });
</script>
{{ end }}
