{{ define "content" }}
<div class="container">
  <div class="header">
    <h1 class="display-4">เทรนนิ่ง</h1>
    <p class="lead">
      สอนโดยทีมงานผู้เชี่ยวชาญ พร้อมที่จะแบ่งปันจากประสบการณ์จริง
    </p>
  </div>
  <div id="app" class="row">
    {{ range.Pages }}
    <div class="col-lg-4 col-md-6 px-md-5 mb-5">
      <h2 class="display-6">
        <a href="{{ .Permalink }}" class="text-dark">
          {{ .Title }}
        </a>
      </h2>
      <div class="h2-line"></div>
      <div class="markdown">
        <ul class="list-unstyled">
          <li>จำนวน: {{ .Params.totalHours }} ชั่วโมง</li>
          <li>ระยะเวลา: {{ .Params.totalDays }} วัน</li>
          <li>ราคา: {{ .Params.price | lang.NumFmt 0 }} บาท</li>
          <li>
            (รวมภาษีมูลค่าเพิ่มแล้ว)
          </li>
          <li>
            <button
              class="btn btn-sm btn-success px-3"
              data-toggle="modal"
              data-target="#registerModal"
              data-subid="{{ .Params.subID }}"
              :class="{ 'btn-dark': isNotOpening('{{ .Params.subID }}')}"
              :disabled="isNotOpening('{{ .Params.subID }}')"
            >
              ลงทะเบียน
            </button>
          </li>
        </ul>
      </div>
      <a href="{{ .Permalink }}" class="btn btn-outline-primary btn-sm">
        ดูรายละเอียดเพิ่มเติม
      </a>
    </div>
    {{ end }}
  </div>
</div>
<div class="learn-more mt-5">
  <div class="container">
    <h3>เราเป็นผู้เชี่ยวชาญทางด้าน HPC ด้วยประสบการณ์กว่า 10 ปี</h3>
    <a
      class="btn btn-secondary btn-lg px-5 mt-3"
      href="{{ `/success-stories/` | relURL }}"
      role="button"
    >
      เยี่ยมชมผลงานของเรา
    </a>
  </div>
</div>
{{ partial "register/site-register" }}
{{ end }}
{{ define "javascript" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{{ partial "register/script" }}
<script>
  var app = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      openingCourses: [],
    },
    methods: {
      isNotOpening: function(subID) {
        return !this.openingCourses.some(function(e) {
          return e.sub_id === subID
        })
      },
    },
    mounted() {
      axios
        .get('http://www.clusterkit.co.th/api/opening-courses.php')
        .then(res => (this.openingCourses = res.data))
    },
  })
</script>
{{ end }}
