{{ define "content" }}
<div id="app" class="container">
  <div class="header">
    <h1 class="display-4">ฝึกอบรม</h1>
    <p class="lead">
      สอนโดยทีมงานผู้เชี่ยวชาญ พร้อมที่จะแบ่งปันจากประสบการณ์จริง
    </p>
  </div>
  {{ partial "training-courses/loading" }}
  <div class="row">
    <div v-for="v in subjects" class="col-md-6 px-md-5 mb-5">
      <h2 class="display-6">
        <a :href="v.detail_url" class="text-dark">
          ${v.sub_enname}
        </a>
      </h2>
      <div class="h2-line"></div>
      <div class="markdown">
        <ul class="list-unstyled">
          <li>จำนวน: ${v.sub_period} ชั่วโมง (${v.sub_days} วัน)</li>
          <li>
            ราคา: ${v.sub_price.toLocaleString()} บาท (รวมภาษีมูลค่าเพิ่มแล้ว)
          </li>
          <li
            v-for="c in v.classes"
            class="text-info"
            :class="{ 'text-danger': c.closed || (c.registered >= c.course_seatlimit) }"
          >
            รุ่นที่ ${c.course_class} เรียนวันที่ ${c.course_datestudies} ${
            (c.registered >= c.course_seatlimit) ? '(เต็มแล้ว)' : '' }
            ${c.closed ? '(ปิดรับการลงทะเบียน)' : ''}
          </li>
          <li>
            <button
              class="btn btn-sm btn-success px-3"
              data-backdrop="static"
              data-keyboard="false"
              data-toggle="modal"
              data-target="#registerModal"
              :data-subid="v.sub_id"
              :data-subname="v.sub_enname"
              :class="{ 'btn-dark': !v.opening }"
              :disabled="!v.opening"
            >
              ลงทะเบียน
            </button>
          </li>
        </ul>
      </div>
      <a :href="v.detail_url" class="btn btn-outline-primary btn-sm">
        ดูรายละเอียดเพิ่มเติม
      </a>
    </div>
  </div>
</div>
<div class="learn-more mt-5">
  <div class="container">
    <h3>เราเป็นผู้เชี่ยวชาญทางด้าน HPC ด้วยประสบการณ์กว่า 10 ปี</h3>
    <a
      class="btn btn-secondary btn-lg px-5 mt-3"
      href="{{ `/success-stories/` | relURL }}"
      role="button"
    >
      เยี่ยมชมผลงานของเรา
    </a>
  </div>
</div>
{{ partial "register/site-register" . }}
{{ end }}
{{ define "javascript" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{{ partial "register/script" }}
<script>
  var app = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      loading: false,
      subjects: [],
    },
    mounted() {
      this.loading = true
      axios.get('http://www.clusterkit.co.th/api/subjects.php').then(res => {
        this.loading = false
        this.subjects = res.data
      })
    },
  })
</script>
{{ end }}
