{{ define "content" }}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-5">{{ .Title }}</h1>
      <div class="h1-line"></div>
      {{ range first 1 (.Resources.ByType "image") }}
      {{ $image := . }}
      {{ $image := $image.Resize "200x q50" }}
      <div class="d-flex">
        <img src="{{ $image.RelPermalink }}" class="img-fluid mx-auto my-3" />
      </div>
      {{ end }}
      <div class="markdown">
        <ul class="list-unstyled">
          <li>
            ระยะเวลา: {{ .Params.totalHours }} ชั่วโมง ({{ .Params.totalDays }}
            วัน)
          </li>
          <li>
            ราคา: {{ .Params.price | lang.NumFmt 0 }} บาท
            (รวมภาษีมูลค่าเพิ่มแล้ว)
          </li>
          <li>
            <a href="{{ .Params.pdfURL }}" target="_blank">
              รายละเอียดหลักสูตรรูปแบบ PDF
            </a>
          </li>
        </ul>
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
<div class="learn-more mt-5">
  <div class="container">
    <h3>หากคุณมีข้อสงสัย กรุณาติดต่อเรา</h3>
    <a
      class="btn btn-secondary btn-lg px-5 mt-3"
      href="{{ `/contact-us/` | relURL }}"
      role="button"
    >
      ติดต่อเรา
    </a>
  </div>
</div>
{{ end }}
