{{ define "content" }}
<div class="container mt-5">
  <div class="row">
    <div v-cloak id="app" class="col-md-8 offset-md-2">
      <h1 class="display-5">${v.nameEn} (หลักสูตรออนไลน์)</h1>
      <div class="h1-line"></div>
      {{ range first 1 (.Resources.ByType "image") }}
      {{ $image := . }}
      {{ $image := $image.Resize "200x q50" }}
      <div class="d-flex">
        <img src="{{ $image.RelPermalink }}" class="img-fluid mx-auto my-3" />
      </div>
      {{ end }}
      {{ partial "loading" }}
      <div class="markdown">
        <ul class="list-unstyled">
          <li>จำนวน: ${v.defaultDuration} ชั่วโมง (${v.totalDates} วัน)</li>
          <li>
            <a href="{{ .Params.pdfURL }}" target="_blank">
              รายละเอียดหลักสูตรรูปแบบ PDF
            </a>
          </li>
          {{ partial "training-courses/register-events" }}
        </ul>
          <!-- <p class="lead" style="color:red;">พิเศษ!! สำหรับอาจารย์มหาวิทยาลัย ทุกหลักสูตรจ่ายเพียง 3,210.- 🎉🎉 -->
          <!-- <p class="lead" style="color:red;"></p>
            <u><a href="../../public-relations/univercity-discount/">คลิก!! เพื่อดูเงื่อนไขโปรโมชัน</a></u>
          </p> -->
        {{ .Content }}
      </div>
      {{ partial "register/site-after-register" . }}
    </div>
    {{ partial "facebook" . }}
  </div>
</div>
<div class="learn-more mt-5">
  <div class="container">
    <h3>หากคุณมีข้อสงสัย กรุณาติดต่อเรา</h3>
    <a
      class="btn btn-secondary btn-lg px-5 mt-3"
      href="{{ `/contact-us/` | relURL }}"
      role="button"
    >
      ติดต่อเรา
    </a>
  </div>
</div>
{{ partial "register/site-register" . }}
{{ end }}
{{ define "javascript" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{{ partial "register/script" . }}
<script>
  var app = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      loading: false,
      v: {
        nameEn: '',
        defaultDuration: 0,
        defaultPrice: 0,
        courses: [],
      },
    },
    mounted() {
      this.loading = true
      axios
        .get('{{ .Site.Params.apiURL }}/api/public/subjects/{{ .Params.subID }}')
        .then(res => {
          this.loading = false
          this.v = res.data.data
        })
    },
  })
</script>
{{ end }}
