<script
  type="text/javascript"
  src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/JQL.min.js"
></script>
<script
  type="text/javascript"
  src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/typeahead.bundle.js"
></script>
<link
  rel="stylesheet"
  href="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.css"
/>
<script
  type="text/javascript"
  src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.js"
></script>
<script>
  var register = new Vue({
    el: '#register',
    delimiters: ['${', '}'],
    data: () => ({
      errors: [],
      isValidated: false,
      openingClasses: [],
      courseID: '',
      subID: '',
      subName: '',
      nameEN: '',
      surnameEN: '',
      nameTH: '',
      surnameTH: '',
      address: '',
      district: '',
      amphoe: '',
      province: '',
      zipcode: '',
      tel: '',
      email: '',
      quotation: 'no',
      note: '',
      type: '1',
      companyNameEN: '',
      companyNameTH: '',
      branch: '',
      taxID: '',
      companyAddress: '',
      companyDistrict: '',
      companyAmphoe: '',
      companyProvince: '',
      companyZipcode: '',
    }),
    methods: {
      submit: function(e) {
        if (this.$refs.registerForm.checkValidity()) {
          console.log(this.$data)
        } else {
          this.$refs.registerForm.reportValidity()
        }
        this.isValidated = true
      },
    },
  })

  $('#registerModal').on('show.bs.modal', function(e) {
    Object.assign(register.$data, register.$options.data())
    register.subID = $(e.relatedTarget).data('subid')
    register.subName = $(e.relatedTarget).data('subname')
    axios
      .get(
        'http://www.clusterkit.co.th/api/opening-classes.php?subID=' +
          register.subID,
      )
      .then(res => {
        register.openingClasses = res.data
        register.courseID = register.openingClasses[0].course_id
      })
  })

  $.Thailand({
    $district: $('#district'),
    $amphoe: $('#amphoe'),
    $province: $('#province'),
    $zipcode: $('#zipcode'),
    onDataFill: function(data) {
      register.district = data.district
      register.amphoe = data.amphoe
      register.province = data.province
      register.zipcode = data.zipcode
    },
  })

  $.Thailand({
    $district: $('#companyDistrict'),
    $amphoe: $('#companyAmphoe'),
    $province: $('#companyProvince'),
    $zipcode: $('#companyZipcode'),
    onDataFill: function(data) {
      register.companyDistrict = data.district
      register.companyAmphoe = data.amphoe
      register.companyProvince = data.province
      register.companyZipcode = data.zipcode
    },
  })
</script>
