<script
  type="text/javascript"
  src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/JQL.min.js"
></script>
<script
  type="text/javascript"
  src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/typeahead.bundle.js"
></script>
<link
  rel="stylesheet"
  href="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.css"
/>
<script
  type="text/javascript"
  src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.js"
></script>
<script>
  var register = new Vue({
    el: '#register',
    delimiters: ['${', '}'],
    data: {
      subID: '',
      subName: '',
      nameEN: '',
      address: '',
      province: '',
      openingClasses: [],
      type: '1',
      courseID: '',
    },
  })

  $('#registerModal').on('show.bs.modal', function(e) {
    register.subID = $(e.relatedTarget).data('subid')
    register.subName = $(e.relatedTarget).data('subname')
    axios
      .get(
        'http://www.clusterkit.co.th/api/opening-classes.php?subID=' +
          register.subID,
      )
      .then(res => {
        register.openingClasses = res.data
        register.courseID = register.openingClasses[0].course_id
      })
  })

  $.Thailand({
    $district: $('#district'),
    $amphoe: $('#amphoe'),
    $province: $('#province'),
    $zipcode: $('#zipcode'),
    onDataFill: function(data) {
      console.log(data)
    },
  })

  $.Thailand({
    $district: $('#companyDistrict'),
    $amphoe: $('#companyAmphoe'),
    $province: $('#companyProvince'),
    $zipcode: $('#companyZipcode'),
  })
</script>
