<h4>วิธีการชำระเงิน</h4>
<ol>
  <li>
    ชำระเป็นเงินสดหรือเช็ค (งดรับเช็คส่วนตัว) สั่งจ่ายในนาม
    <span class="text-primary">บริษัท คลัสเตอร์คิท จำกัด</span> นำมาชำระที่
    <span class="text-primary">บริษัท คลัสเตอร์คิท จำกัด</span>
  </li>
  <li>
    โอนเงินเข้าบัญชีออมทรัพย์
    <ol>
      <li>
        ธนาคารกสิกรไทย สาขาบางขุนนนท์ ชื่อบัญชี บริษัท คลัสเตอร์คิท จำกัด
        เลขที่บัญชี 753-2-25601-6
      </li>
      <li>
        ธนาคารกรุงเทพ สาขาบางขุนนนท์ ชื่อบัญชี บริษัท คลัสเตอร์คิท จำกัด
        เลขที่บัญชี 190-0-78709-2
      </li>
      <span class="text-danger">
        * กรุณาส่งหลักฐานการโอนเงินมาทาง Email:
        <a href="mailto:accounting@clusterkit.co.th">accounting@clusterkit.co.th</a>
        หรือแฟกซ์หลักฐานการโอนเงินมาที่ 0 2424 7603
      </span>
    </ol>
  </li>
</ol>
<h4 class="text-danger">หมายเหตุ</h4>
<ul>
  <li>ราคาข้างต้นรวมภาษีมูลค่าเพิ่ม 7% แล้ว</li>
  <li>
    บริษัท หรือนิติบุคคลสามารถหัก ณ ที่จ่ายในอัตรา 3%, หน่วยงานราชการ 1%
    ของราคาค่าอบรมก่อนหักภาษีมูลค่าเพิ่ม
    <span class="text-danger">
      และต้องนำหนังสือรับรองการหักภาษี ณ ที่จ่ายมาในวันอบรม
    </span>
    <p class="border p-3">
      บริษัท คลัสเตอร์คิท จำกัด
      <br />
      {{ .Site.Params.contact.address | markdownify }}
      <br />
      เลขทะเบียนนิติบุคคล: {{ .Site.Params.contact.corporateNumber }}
      <br />
    </p>
    <span class="text-danger">(กรณีไม่มีหนังสือรับรองต้องชำระเต็มจำนวน)</span>
  </li>
  <li>
    การสำรองที่นั่งอบรมจะสมบูรณ์ต่อเมื่อมีการชำระเงิน
    จึงขอสงวนสิทธิ์แก่ผู้ที่สำรองที่นั่งอบรมเข้ามาก่อนตามลำดับ
  </li>
  <li>
    รายละเอียดต่าง ๆ
    อาจมีการเปลี่ยนแปลงตามความเหมาะสมโดยมิต้องแจ้งให้ทราบล่วงหน้า
  </li>
</ul>
