<div class="form-row">
  <div class="form-group col-md-12">
    <label for="class">กรุณาเลือกรุ่นที่เรียน</label>
    <select
      id="class"
      v-model="courseID"
      class="form-control"
      @change="onCourseChange"
      required
    >
      <option disabled selected value> -- กรุณาเลือกวันที่เรียน -- </option>
      <option v-for="v in courses" :value="v._id" :disabled="!v.available">
        รุ่นวันที่ ${v.dates} (${v.price.toLocaleString()} บาท) ${
        (v.availableSeat <= 0) ? '(เต็มแล้ว)' : '' } ${v.datesLeft <= 0 ?
        '(ปิดรับการลงทะเบียน)' : ''}
      </option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="nameEN">ชื่อภาษาอังกฤษ</label>
    <input
      type="text"
      class="form-control"
      v-model="nameEN"
      id="nameEN"
      required
    />
    <div class="invalid-feedback">
      จำเป็นต้องระบุ
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="surnameEN">นามสกุลภาษาอังกฤษ</label>
    <input
      type="text"
      class="form-control"
      v-model="surnameEN"
      id="surnameEN"
      required
    />
    <div class="invalid-feedback">
      จำเป็นต้องระบุ
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="nameTH">ชื่อภาษาไทย</label>
    <input
      type="text"
      class="form-control"
      v-model="nameTH"
      id="nameTH"
      required
    />
    <div class="invalid-feedback">
      จำเป็นต้องระบุ
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="surnameTH">นามสกุลภาษาไทย</label>
    <input
      type="text"
      class="form-control"
      v-model="surnameTH"
      id="surnameTH"
      required
    />
    <div class="invalid-feedback">
      จำเป็นต้องระบุ
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="address">ที่อยู่</label>
    <input
      type="text"
      class="form-control"
      v-model="address"
      id="address"
      required
    />
    <div class="invalid-feedback">
      จำเป็นต้องระบุ
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="district">ตำบล</label>
    <input
      type="text"
      class="form-control"
      id="district"
      v-model="district"
      required
    />
    <div class="invalid-feedback">
      จำเป็นต้องระบุ
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="amphoe">อำเภอ</label>
    <input
      type="text"
      class="form-control"
      id="amphoe"
      v-model="amphoe"
      required
    />
    <div class="invalid-feedback">
      จำเป็นต้องระบุ
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="province">จังหวัด</label>
    <input
      type="text"
      class="form-control"
      id="province"
      v-model="province"
      required
    />
    <div class="invalid-feedback">
      จำเป็นต้องระบุ
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="zipcode">รหัสไปรษณีย์</label>
    <input
      type="number"
      class="form-control"
      id="zipcode"
      v-model="zipcode"
      required
    />
    <div class="invalid-feedback">
      จำเป็นต้องระบุ
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="tel">หมายเลขโทรศัพท์ที่ใช้ติดต่อ</label>
    <input type="text" class="form-control" v-model="tel" id="tel" required />
    <div class="invalid-feedback">
      จำเป็นต้องระบุ
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="email">อีเมล</label>
    <input
      type="email"
      class="form-control"
      v-model="email"
      id="email"
      required
    />
    <div class="invalid-feedback">
      จำเป็นต้องระบุ
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="discountCode">รหัสส่วนลด</label>
    <div class="input-group">
      <input
        type="text"
        maxlength="5"
        v-model="discountCode"
        class="form-control text-uppercase"
        :disabled="usedCoupon !== ''"
        id="discountCode"
      />
      <div class="input-group-append">
        <button
          class="btn btn-primary"
          :class="{ 'btn-danger': usedCoupon }"
          @click="onDiscountCodeSubmit"
          :disabled="discountCode.length < 5 || !courseID"
          type="button"
        >
          ${usedCoupon ? 'ยกเลิก' : 'ยืนยัน'}
        </button>
      </div>
    </div>
    <span v-show="discountCodeValid" class="form-text text-success">
      ${discountCodeValid}
    </span>
    <span v-show="discountCodeInvalid" class="form-text text-danger">
      ${discountCodeInvalid}
    </span>
  </div>
  <div class="form-group col-md-6">
    <label for="note">หมายเหตุ</label>
    <input
      type="text"
      class="form-control"
      v-model="note"
      id="note"
      aria-describedby="noteHelp"
    />
    <!-- <span class="form-text text-danger" id="noteHelp">
      โปรดแจ้ง หากท่านทานอาหารเจ มังสวิรัติหรือฮาลาล
    </span> -->
  </div>
  <div
    class="form-group col-md-6"
    v-if="showNeedComputer"
  >
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        v-model="needComputer"
        true-value="yes"
        false-value="no"
        id="needComputer"
      />
      <label class="form-check-label" for="needComputer">
        ประสงค์ให้บริษัทฯ เตรียมเครื่องคอมพิวเตอร์ไว้ให้สำหรับอบรม
      </label>
    </div>
  </div>
  <div class="form-group col-md-6">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        v-model="subscribe"
        true-value="no"
        false-value="yes"
        id="subscribe"
      />
      <label class="form-check-label" for="subscribe">
        ไม่ต้องการรับข่าวสารจากทางบริษัท
      </label>
      <span class="form-text text-success">
        บริษัทจะส่งข่าวสารและโปรโมชั่นทางอีเมลที่ท่านได้ให้ไว้
      </span>
    </div>
  </div>
  <div class="form-group col-md-12">
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="type"
        id="type1"
        v-model="type"
        value="1"
        checked
      />
      <label class="form-check-label" for="type1">
        บุคคลทั่วไป
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="type"
        id="type2"
        v-model="type"
        value="2"
      />
      <label class="form-check-label" for="type2">
        บริษัท/องค์กร
      </label>
    </div>
  </div>
</div>
