<div
  class="modal fade"
  id="successModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="successModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">
          รายละเอียด
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">ลงทะเบียนเสร็จสมบูรณ์!</h4>
          <hr />
          <p class="mb-0">
            ระบบจะแจ้งวิธีการชำระเงินเพื่อสำรองที่นั่งตามที่อยู่อีเมลที่ท่านระบุไว้
            ถ้าท่านไม่ได้รับ โปรดตรวจสอบดูที่ Junk mail ของท่าน
            เนื้อหาจะบอกถึงวิธีปฏิบัติเหมือนที่ระบุไว้ด้านล่างนี้
          </p>
        </div>
        <div class="container">
          {{ partial "register/site-after-register" . }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>
