body {
  padding-top: $navbar-height;
}

@mixin debug {
  border: 1px solid red;
}

.debug {
  @include debug;
}

.list-group {
  position: sticky;
  top: $navbar-height + 1rem;

  .list-group-item {
    padding: 0.25rem 1.25rem;
  }
}

.map {
  height: 40rem;

  @include media-breakpoint-down(sm) {
    height: 30rem;
  }
}
