body {
  font-size: 14px;
}

p,
li,
h1,
span {
  font-weight: 300;
}

.markdown {
  line-height: 1.8rem;
  font-size: 1rem;

  p {
    text-indent: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1rem;
  }
}
