{{ define "content" }}
<div class="container">
  <div class="header">
    <h1 class="display-4">โซลูชั่นสำหรับยุค Big Data</h1>
    <p class="lead">
      เราให้บริการออกแบบ ติดตั้ง และบำรุงรักษาโดยทีมผู้เชี่ยวชาญ
    </p>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="square-right"></div>
    <div class="col-md-7">
      <h2 class="featurette-heading">
        ให้คำปรึกษาและแนะนำโซลูชั่นที่เหมาะสม
      </h2>
      <p class="lead">
        เราเชื่อว่าการออกแบบและคัดเลือกโซลูชั่นที่ดีย่อมส่งผลต่อประสิทธิภาพและความคุ้มค่าในการใช้งาน
        ซึ่งเราคาดหวังเป็นอย่างยิ่งว่าบริการของเราจะสามารถตอบโจทย์ของลูกค้าได้อย่างดีเยี่ยมที่สุด
      </p>
    </div>
    <div class="img-container col-md-5">
      <img
        class="img-fluid"
        src="{{ `imgs/service/consult.jpg` | relURL }}"
        alt=""
      />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="square-left"></div>
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        ออกแบบสถาปัตยกรรมระบบ
      </h2>
      <p class="lead">
        เราให้บริการออกแบบสถาปัตยกรรมระบบรวมไปถึงระบบเครือข่ายโดยทีมงานผู้เชี่ยวชาญ
        ที่มีประสบการณ์มากกว่า 10 ปี
        ดังนั้นจึงมั่นใจได้เลยว่าระบบที่ออกแบบโดยทีมงานของ
        <span class="text-primary">"คลัสเตอร์คิท"</span>
        จะสามารถใช้งานได้อย่างลื่นไหลและมีประสิทธิภาพสูงสุด
      </p>
    </div>
    <div class="img-container col-md-5 order-md-1">
      <img
        class="img-fluid"
        src="{{ `imgs/service/design.jpg` | relURL }}"
        alt=""
      />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="square-right"></div>
    <div class="col-md-7">
      <h2 class="featurette-heading">
        ติดตั้งระบบทั้งฮาร์ดแวร์และซอฟต์แวร์
      </h2>
      <p class="lead">
        เราใส่ใจในทุกรายละเอียดของการติดตั้ง
        ไม่เพียงเฉพาะเรื่องฮาร์ดแวร์และซอฟต์แวร์ของระบบคอมพิวเตอร์คลัสเตอร์เท่านั้น
        <span class="text-primary">"คลัสเตอร์คิท"</span>
        ยังใส่ใจในเรื่องทางกายภาพของสถานที่ตั้ง การรับน้ำหนัก การระบายความร้อน
        ระบบไฟฟ้า ระบบสำรองไฟ และระบบดับเพลิง เราพิจารณาองค์ประกอบต่างๆ
        ที่สำคัญต่อระบบโดยรวมอย่างรอบคอบ
        โดยวิศวกรผู้ชำนาญที่อยู่ในวงการระบบคอมพิวเตอร์มาอย่างยาวนาน
        เพื่อให้ระบบของลูกค้าใช้งานได้อย่างมีประสิทธิภาพสูงสุดพร้อมกับความปลอดภัยต่อชีวิตและทรัพย์สิน
      </p>
    </div>
    <div class="img-container col-md-5">
      <img
        class="img-fluid"
        src="{{ `imgs/service/implement.jpg` | relURL }}"
        alt=""
      />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="square-left"></div>
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        บริการบำรุงรักษาระบบ
      </h2>
      <p class="lead">
        เราให้บริการติดตั้งและบำรุงรักษาซอฟต์แวร์ระบบคอมพิวเตอร์คลัสเตอร์
        ซึ่งครอบคลุมตั้งแต่ระดับชั้นระบบปฏิบัติการจนถึงระบบโปรแกรมประยุกต์
        (Application)
      </p>
    </div>
    <div class="img-container col-md-5 order-md-1 text-center">
      <img
        class="img-fluid"
        src="{{ `imgs/service/maintenance.jpg` | relURL }}"
        alt=""
      />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="square-right"></div>
    <div class="col-md-7">
      <h2 class="featurette-heading">
        ฝึกอบรม
      </h2>
      <p class="lead">
        เรามีให้บริการฝึกอบรมทั้งในและนอกสถานที่
        โดยทีมงานที่มีความเชี่ยวชาญจากประสบการณ์จริง
        ด้วยความเชื่อที่ว่างานคอมพิวเตอร์เป็นงานที่ต้องใช้ทักษะในการปฏิบัติ
        เราจึงมุ่งมั่นที่จะเน้นให้ผู้เข้ารับการอบรมทุกท่านปฏิบัติให้ได้ผลจริง ๆ
        ด้วยการเตรียมความพร้อมทั้งบุคลากร ฮาร์ดแวร์ ซอฟต์แวร์ และแบบฝึกหัด
        ไว้ให้ผู้เข้ารับการอบรมได้ทดลองในรูปแบบต่าง ๆ
        เพื่อให้เกิดความรู้ความเข้าใจในเรื่องที่เรียนตั้งแต่ขั้นเริ่มต้นจนถึงขั้นสูง
        ท่านสามารถดูหลักสูตรฝึกอบรมได้
        <a href="{{ `training-courses` | relURL }}">ที่นี่</a>
      </p>
    </div>
    <div class="img-container col-md-5">
      <img
        class="img-fluid"
        src="{{ `imgs/service/training.jpg` | relURL }}"
        alt=""
      />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="square-left"></div>
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        บริการสถานที่ฝึกอบรม
      </h2>
      <p class="lead">
        เราเปิดให้บริการเช่าห้องฝึกอบรมสัมมนา พร้อมเครื่องคอมพิวเตอร์, กระดาน
        Whiteboard, เครื่อง Visualizer และ Projector
        พร้อมมีทีมงานมืออาชีพคอยช่วยเหลืออำนวยความสะดวกตลอดการฝึกอบรมสัมมนา
        มีที่จอดรถสะดวกสบาย เพียงพอกับผู้ที่จะเข้ามาอบรม
        และบรรยากาศเบรคพักผ่อนริมน้ำ
      </p>
    </div>
    <div class="img-container col-md-5 order-md-1 text-center">
      <img
        class="img-fluid"
        src="{{ `imgs/about-us/training-room.jpg` | relURL }}"
        alt=""
      />
    </div>
  </div>
  <hr class="featurette-divider" />
</div>
{{ partial "our-solutions.html" }}
<div class="learn-more big-section">
  <div class="container py-4">
    <h3>หากคุณมีข้อสงสัย เรายินดีให้คำปรึกษา</h3>
    <a
      class="btn btn-secondary btn-lg px-5 mt-3"
      href="{{ `/contact-us/` | relURL }}"
      role="button"
    >
      ติดต่อเรา
    </a>
  </div>
</div>
{{ end }}
