<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 left">
        <h1 class="display-3 text-primary">HPC Cluster</h1>
        <h2 class="display-5 my-4">เพิ่มความเร็วให้กับงานประมวลผลของคุณ</h2>
        <p class="my-4">
          เราเป็นบริษัทเอกชนรายแรกในประเทศที่ประกอบธุรกิจด้านนี้โดยเฉพาะ
          เราใส่ใจในทุกรายละเอียด
        </p>
        <a
          class="btn btn-primary btn-lg px-5 mt-4"
          href="{{ `/service/` | relURL }}"
          role="button"
        >
          บริการของเรา
        </a>
      </div>
      <div class="col-6 text-center right">
        <img
          src="{{ `imgs/main/rocket.jpg` | relURL }}"
          alt="showcase"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
