<div class="jumbotron-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="{{ `imgs/main/ceo.jpg` | relURL }}"
          alt="our ceo"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 pl-lg-5">
        <h2 class="display-5 mt-lg-5 mt-md-0 mt-5">มุ่งมั่นพัฒนาอย่างต่อเนื่อง</h2>
        <p class="my-lg-4 my-md-0 my-4">
          เราได้รับความไว้วางใจจากภาครัฐและเอกชน
          <span class="text-primary">"คลัสเตอร์คิท"</span>
          มีปณิธานมุ่งมั่นที่จะพัฒนาองค์ความรู้ในเทคโนโลยีคอมพิวเตอร์คลัสเตอร์และการบริการให้กับลูกค้า
        </p>
        <a
          class="btn btn-primary btn-lg px-5 mt-4"
          href="{{ `/success-stories/` | relURL }}"
          role="button"
        >
          ดูผลงานของเรา
        </a>
      </div>
    </div>
  </div>
</div>
