<div class="jumbotron-1 mt-5">
  {{ $rocket := resources.Get "imgs/rocket.jpg" }}
  {{ $rocket = $rocket.Resize "1200x" }}
  <div class="square-1"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 left">
        <h1 class="display-3 text-primary">HPC Cluster</h1>
        <h2 class="display-5 my-4">
          เพิ่มความเร็วให้กับงานประมวลผลของคุณ
        </h2>
        <p class="mt-5">
          เราเป็นบริษัทเอกชนรายแรกในประเทศที่ประกอบธุรกิจด้านนี้โดยเฉพาะ
          เราใส่ใจในทุกรายละเอียด
        </p>
        <a
          class="btn btn-primary btn-lg px-5 mt-4"
          href="{{ `/service/` | relURL }}"
          role="button"
        >
          บริการของเรา
        </a>
      </div>
      <div class="col-6 text-center right">
        <img
          src="{{ $rocket.RelPermalink }}"
          alt="showcase"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
