{{ define "content" }}
<div class="container">
  <div class="header">
    <h1 class="display-4">ผลงานของเรา</h1>
    <p class="lead">
      เราให้บริการตั้งแต่ระบบขนาดเล็กจนถึงระบบขนาดใหญ่
      ประสบการณ์ที่ผ่านมาของทีมงานเรามีมากมาย
    </p>
  </div>
  <div class="card-deck">
    {{ range.Pages }}
    {{ $page := . }}
    <div class="card mb-3">
      {{ range first 1 (.Resources.ByType "image") }}
      {{ $image := . }}
      {{ $image := $image.Resize "300x q50" }}
      <img
        src="{{ $image.RelPermalink }}"
        class="card-img"
        alt="{{ $page.Title }} logo"
      />
      {{ end }}
      <div class="card-body">
        <h5 class="card-title">{{ .Params.projectName }}</h5>
        <p class="card-text">
          {{ .Content | truncate 120 }}
        </p>
        <a href="{{ .Permalink }}" class="btn btn-sm btn-primary">
          อ่านต่อ
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
<div class="learn-more mt-5">
  <div class="container">
    <h3>เราให้บริการปรึกษา ออกแบบ และติดตั้งระบบมากมาย</h3>
    <a
      class="btn btn-secondary btn-lg px-5 mt-3"
      href="{{ `/service/` | relURL }}"
      role="button"
    >
      ดูบริการของเรา
    </a>
  </div>
</div>
{{ end }}
