{{ define "content" }}
<div class="container">
  <div class="header">
    <h1 class="display-4">ผลงานของเรา</h1>
    <p class="lead">
      เราให้บริการตั้งแต่ระบบขนาดเล็กจนถึงระบบขนาดใหญ่
      ประสบการณ์ที่ผ่านมาของทีมงานเรามีมากมาย
    </p>
  </div>
  {{ range $index, $page := .Pages }}
  <hr class="featurette-divider" />
  <div class="row featurette">
    {{ $odd := modBool $index 2 }}
    <div class="col-md-7{{ if not $odd }} order-md-2{{ end }}">
      <h2 class="featurette-heading">
        <a href="{{ .Permalink }}"> {{ .Params.projectName }}</a> @ {{ .Title }}
      </h2>
      <p class="lead">
        {{ .Content | truncate 320 }}
      </p>
    </div>
    <div class="img-container col-md-5 order-md-1">
      {{ range first 1 (.Resources.ByType "image") }}
      {{ $image := . }}
      {{ $image := .Resize "600x q50" }}
      <img
        src="{{ $image.RelPermalink }}"
        class="img-fluid"
        alt="{{ $page.Title }}"
      />
      {{ end }}
    </div>
  </div>
  {{ end }}
  <hr class="featurette-divider" />
</div>
<div class="learn-more mt-5">
  <div class="container">
    <h3>เราให้บริการปรึกษา ออกแบบ และติดตั้งระบบมากมาย</h3>
    <a
      class="btn btn-secondary btn-lg px-5 mt-3"
      href="{{ `/service/` | relURL }}"
      role="button"
    >
      ดูบริการของเรา
    </a>
  </div>
</div>
{{ end }}
