{{ define "content" }}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-center">
        <h1 class="display-5">{{ .Params.projectName }}@{{ .Title }}</h1>
        {{ range first 1 (.Resources.ByType "image") }}
        {{ $image := . }}
        {{ $image := .Resize "600x" }}
        <img src="{{ $image.RelPermalink }}" class="img-fluid my-3" />
        {{ end }}
      </div>
      <div class="markdown">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}
