.featurette-divider {
  margin: 4rem 0;
}

.featurette {
  align-items: center;

  p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.1rem;
  }

  .img-container {
    @include media-breakpoint-down(sm) {
      margin-top: 2rem;
    }
  }
}
