.square {
  &-left,
  &-right,
  &-1,
  &-2 {
    position: absolute;
    background-color: $primary;
    @include media-breakpoint-down(sm) {
      display: none;
    }
    width: 20%;
    height: 30rem;
  }

  &-left {
    left: 0;
  }

  &-right {
    right: 0;
  }

  &-1 {
    top: 0;
    right: 0;
    width: 40%;
    height: 32 + $navbar-height;
  }

  &-2 {
    top: -6rem;
    width: 30%;
    height: 35rem;
    @include media-breakpoint-down(md) {
      height: 28rem;
    }
  }
}
