.square {
  &-left,
  &-right,
  &-1,
  &-2 {
    position: absolute;
    background-color: $primary;
    @include media-breakpoint-down(sm) {
      display: none;
    }
    width: 20%;
    height: 30rem;
    @include media-breakpoint-up(lg) {
      width: 35%;
    }
  }

  &-left {
    left: 0;
  }

  &-right {
    right: 0;
  }

  &-1 {
    top: 6rem;
    right: 0;
    width: 40%;
    height: 31rem;
    @include media-breakpoint-up(lg) {
      top: 4rem;
      width: 38%;
      height: 36rem;
    }
  }

  &-2 {
    top: -6rem;
    width: 30%;
    height: 35rem;
    @include media-breakpoint-down(md) {
      height: 28rem;
    }
    @include media-breakpoint-up(lg) {
      width: 40%;
    }
  }
}
