{{ define "content" }}
<div class="container">
  <div class="header">
    <h1 class="display-4">{{ .Site.Title }}</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum commodi
      accusantium iure voluptate culpa, molestias animi! Ipsum, quasi odit! Eius
      modi earum obcaecati architecto veritatis animi natus officiis! Ducimus,
      nesciunt.
    </p>
  </div>
  <div class="card-deck">
    {{ range.Pages }}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text">
          {{ .Content | truncate 250 }}
        </p>
        <a href="{{ .Permalink }}" class="btn btn-sm btn-primary">
          อ่านต่อ
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
