{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ .Params.projectName }}@{{ .Title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {{ .Content }}
    </div>
    <div class="col-md-4">
      <div class="list-group">
        {{ $currentPage := . }}
        {{ with .Site.GetPage (.Section | printf "/%s") }}
        {{ range.Pages }}
        <a
          href="{{ .Permalink }}"
          class="list-group-item list-group-item-action {{ if eq $currentPage.Title .Title }}active{{ end }}"
        >
          {{ .Params.projectName }}@{{ .Title }}
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
