.training-section {
  margin: 8rem 0;
}

.square {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 32 + $navbar-height;
  background-color: $primary;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
