<div
  class="fb-customerchat"
  page_id="121756997840490"
  theme_color="#f95d46"
  logged_in_greeting="สวัสดีครับ ท่านสามารถสอบถามทีมงานทางนี้ได้เลยนะครับ"
  logged_out_greeting="สวัสดีครับ ท่านสามารถสอบถามทีมงานทางนี้ได้เลยนะครับ"
></div>
<script>
  (function(d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/th_TH/sdk/xfbml.customerchat.js";
    fjs.parentNode.insertBefore(js, fjs);
  })(document, "script", "facebook-jssdk");
</script>