{{ define "content" }}
<div class="container">
  <div class="header">
    <h1 class="display-4">เราเชื่อในเรื่องการแบ่งปัน</h1>
    <p class="lead">
      ติดตามอัพเดทข่าวสารเทคโนโลยี และ โปรโมชั่นใหม่ๆ ได้ที่นี่
    </p>
  </div>
  <div class="card-deck">
    {{ range.Pages }}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text">
          {{ .Content | truncate 250 }}
        </p>
        <a href="{{ .Permalink }}" class="btn btn-sm btn-primary">
          อ่านต่อ
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
<div class="learn-more mt-5">
  <div class="container">
    <h3>เรามีคอร์สเชิงเทคนิคสอนโดยทีมงานที่มีความเชี่ยวชาญ</h3>
    <a
      class="btn btn-secondary btn-lg px-5 mt-3"
      href="{{ `/training-courses/` | relURL }}"
      role="button"
    >
      ดูคอร์สเทรนนิ่งของเรา
    </a>
  </div>
</div>
{{ end }}
