{{ define "content" }}
<div class="container">
  <div class="header">
    <h1 class="display-4">ข่าวสารและโปรโมชั่น</h1>
    <p class="lead">
      ติดตามการอัพเดทข่าวสาร และโปรโมชั่นใหม่ๆ ได้ที่นี่
    </p>
  </div>
  <div class="row">
    {{ range.Pages.ByDate.Reverse }}
    {{ partial "public-relation-item" . }}
    {{ end }}
  </div>
</div>
<div class="learn-more mt-5">
  <div class="container">
    <h3>เรามีคอร์สเชิงเทคนิคสอนโดยทีมงานที่มีความเชี่ยวชาญ</h3>
    <a
      class="btn btn-secondary btn-lg px-5 mt-3"
      href="{{ `/training-courses/` | relURL }}"
      role="button"
    >
      หลักสูตรฝึกอบรมของเรา
    </a>
  </div>
</div>
{{ end }}
