<li v-for="c in v.courses">
  <a
    href="#"
    class="text-info"
    :class="{ 'text-danger disabled': !c.available }"
    data-backdrop="static"
    data-keyboard="false"
    data-toggle="modal"
    data-target="#privacyModal"
    :data-subid="v._id"
    :data-subname="v.nameEn"
    :data-courseid="c._id"
  >
    รุ่นวันที่ ${c.dates} ${
    (c.availableSeat <= 0) ? '(เต็มแล้ว)' : '' } (${c.price.toLocaleString()} บาท) ${c.datesLeft <= 0 ?
    '(ปิดรับการลงทะเบียน)' : ''}
  </a>
</li>
<li v-if="v.courses.length">
  (ราคารวมภาษีมูลค่าเพิ่มแล้ว)
</li>
<li>
  <button
    class="btn btn-sm btn-success px-3"
    data-backdrop="static"
    data-keyboard="false"
    data-toggle="modal"
    data-target="#privacyModal"
    data-courseid=""
    :data-subid="v._id"
    :data-subname="v.nameEn"
    :class="{ 'btn-dark': !v.opening }"
    :disabled="!v.opening"
  >
    ลงทะเบียน/ใบเสนอราคา
  </button>
</li>
